.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid teal;
  animation: typing 3.5s steps(40, end), blink .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: teal; }
}
